@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

@media all and (min-width: 480px) {
    .Login, .Register {
      padding: 60px 0;
    }
  
    .Login form, .Register form {
      margin: 0 auto;
      max-width: 320px;
    }
}

.linkToRegister {
  align-items: center;
}
.linkToRegister p {
  text-align: center;
  margin: 2rem auto;
}

button.aslink {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  margin: 0 auto;
  align-self:center;
}