@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

@media all and (min-width: 480px) {
    .Login, .Register {
      padding: 60px 0;
    }
  
    .Login form, .Register form {
      margin: 0 auto;
      max-width: 320px;
    }
}

.linkToRegister {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.linkToRegister p {
  font-size: smaller;
}
